@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	@apply h-full;
}

::selection {
	background: #fcf8e3;
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: #fcf8e3;
	/* Gecko Browsers */
}
/* Scroll */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: hsl(var(--b2));
}

::-webkit-scrollbar-thumb:vertical {
	height: 30px;
	background-color: hsl(var(--p));
}
